<header class="row justify-content-between align-items-center bg-white border-bottom shadow-sm sticky-top">
    <h3 class="col-md-3 col-sm-6">{{title$ | async}}</h3>
    <div class="col-md-3 offset-md-6 col-sm-6" [ngSwitch]="title$ | async">
        <div *ngSwitchCase="headerState.HOME">
            <div *ngIf="false">
                <p>Your not logged in</p>
                <button type="button" class="btn btn-light">Log in</button>
            </div>

            <div *ngIf="true">
                <p>Welcome, Leanne Graham!</p>
                <button type="button" class="btn btn-light">New post</button>
                <button type="button" class="btn btn-light">Log out</button>
            </div>
        </div>
        <p *ngSwitchCase="headerState.POST_EDIT">
            Is it me your looking?
        </p>
        <p *ngSwitchCase="headerState.POST_NEW">
            Is it me your looking?
        </p>
    </div>
</header>