.padded-border {
    padding: 1.5rem;
}

#postMessage {
    height: 300px;
}

.primary-btn-group {
    margin-left: auto;
    .btn {
        margin: 0 0.2rem;
    }
}

.has-error {
    border: 1px solid red;
}

.alert-danger {
    margin-left: auto;
    background: none;
    border: none;
    color: red;
}

.modal-dialog {
    flex-direction: column;
}
.close {
    outline: none;
}
