<div class="login container">
    <form [formGroup]="loginForm" class="login-container h-100 w-50" (ngSubmit)="processLogin()">

        <div class="form-row w-100"
            [ngClass]="{ 'has-error': isSubmitted && (formControls.userName.errors != null || !(hasUserData$ | async)) }">
            <label for="userNameInput">User Name</label>
            <input id="userNameInput" type="text" class="form-control" formControlName="userName">
        </div>

        <div class="form-row btn-wrap">
            <button type="submit" class="btn btn-outline-info">Sign in</button>
        </div>


        <!-- potentailly make a structural directive for common form error structure -->
        <div class="info-wrap form-row w-100">

            <ng-container *ngIf="isSubmitted">
                <div *ngIf="formControls.userName.errors?.required" class="alert-danger">
                    <strong>User name is required.</strong>
                </div>


                <div *ngIf="!(hasUserData$ | async) && formControls.userName.errors == null" class="alert-danger">
                    <strong>Not a valid User name!</strong>
                </div>
            </ng-container>

        </div>
    </form>
</div>