// Should be in seperate mixin file
// Width of the caret defaults to left
@mixin arrow-left-right-caret($width, $color, $isRight) {
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    @if $isRight == "true" {
        border-left: $width solid $color;
        border-right: none;
    } @else {
        border-right: $width solid $color;
        border-left: none;
    }
}
$caret-color: #17a2b8;
$caret-hover-color: #007bff;

// TOd make shared assets style folder
.padded-border {
    padding: 1.5rem;
}
.table {
    overflow: hidden;
}

.clickable {
    color: black;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: blue;
    }
}
.pagination-wrapper {
    display: flex;
    justify-content: flex-end;
}
.caret {
    outline: 0;
    width: 0;
    height: 0;
    margin: 0.5rem;
    background-color: transparent;
    &:disabled {
        opacity: 0.4;
        filter: grayscale(80%);
    }
}
.caret-right {
    @include arrow-left-right-caret(1rem, $caret-color, "true");

    &.hoverable:hover {
        cursor: pointer;
        @include arrow-left-right-caret(1rem, $caret-hover-color, "true");
    }
}
.caret-left {
    @include arrow-left-right-caret(1rem, $caret-color, "");

    &.hoverable:hover {
        cursor: pointer;
        @include arrow-left-right-caret(1rem, $caret-hover-color, "");
    }
}

.loader {
    height: calc(100vh - 80px);
    .spinner-grow {
        height: 1rem;
        width: 1rem;
    }
}
