<main class="padded-border" *ngIf="(data$ | async) as tableData; else loading">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-md-2">User</th>
                <th class="col-md-10">Post</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let lineItem of tableData">
                <tr>
                    <td>
                        <h6 class="">{{lineItem.user.name}}</h6>
                        <p>
                            <!-- cleanup -->
                            <a [routerLink]="[linkHandler(lineItem)]" target="_blank">
                                {{lineItem.user.company.name}}
                            </a>
                        </p>
                    </td>
                    <td>
                        <!-- togglable by login -->
                        <h4 [class.clickable]="writePermission$ | async">
                            <a [routerLink]="['/posts']" [queryParams]="{ edit: lineItem.post.id}">
                                {{lineItem.post.title}}
                            </a>
                        </h4>
                        <p>{{lineItem.post.body}}</p>
                    </td>

                </tr>
            </ng-container>
        </tbody>
    </table>


    <div class="pagination-wrapper">
        <button class="caret-left caret" (click)="paginationClick(paginationCommands.DECREMENT)"></button>
        <button class="caret-right caret" (click)="paginationClick(paginationCommands.INCREMENET)"></button>
    </div>
</main>

<ng-template #loading>
    <div class="container text-primary loader">
        <div class="row align-items-center justify-content-center h-100">
            <h1>Loading Data</h1>
            <div class="dots-wrapper">
                <div class="spinner-grow text-primary" role="status">
                </div>
                <div class="spinner-grow text-primary" role="status">
                </div>
                <div class="spinner-grow text-primary" role="status">
                </div>
            </div>
                
        </div>
    </div>
</ng-template>